<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Assurance
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('entry_bootstrap') }}
			{{encore_entry_link_tags('entry_client')}}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('entry_bootstrap') }}
			{{encore_entry_script_tags('entry_client')}}
		{% endblock %}

	</head>
	{% include 'partial/flash-message.html.twig' %}
	<body class='{% block body_class %}{% endblock %}'>
		<header class="header-bar bg-success">
			<nav class="header-navbar navbar navbar-expand-lg navbar-dark" aria-label="Eighth navbar example">
				<div class="navbar-logo container">
					<a class="navbar-brand fw-bold" href="#">GCAVNV</a>
				</div>

				<button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse mx-5" id="navbars">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item fs-5 fw-medium">
							<a class="nav-link {{ app.current_route starts with "client_" ? 'active' : '' }}" href="{{path('client_index')}}">CLients</a>
						</li>
						<li class="nav-item fs-5 fw-medium">
							<a class="nav-link {{ app.current_route starts with "contract_" ? 'active' : '' }}" href="{{path('contract_index')}}">Contracts</a>
						</li>
						<li class="nav-item fs-5 fw-medium">
							<a class="nav-link {{ app.current_route starts with "sinistre_" ? 'active' : '' }}" href="{{path('sinistre_index')}}">Sinistres</a>
						</li>
						<li class="nav-item fs-5 fw-medium">
							<a class="nav-link {{ app.current_route == "user_profile" ? 'active' : '' }}" href="{{path('user_profile')}}">Profile</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>

	</body>
</html>

