<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('entry_bootstrap') }}
			{{ encore_entry_link_tags('entry_user') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('entry_bootstrap') }}
			{{ encore_entry_script_tags('entry_user') }}
		{% endblock %}
	</head>
	<body class="bg-light">
		{% include "partial/flash-message.html.twig" %}
		<div class="login-contenaire">
			<div class="wrap d-md-flex 	align-items-center login">
				<div class="col-6 text-wrap p-4 p-lg-5 text-center d-flex align-items-center h-100 text-bg-success">
					<div class="login-info w-100">
						<h2>Binvenue sur <strong>G.C.A.V.N.V.</strong></h2>
						<p><strong>G</strong>estion de <strong>C</strong>ontracts d'<strong>A</strong>ssurance <strong>V</strong>ie et <strong>N</strong>on <strong>V</strong>ie</p>
						{% if app.current_route == "user_registre" %}
							<p>connecter si vous avez dejat un compte</p>
							<a href="{{path('user_login')}}" class="btn fw-bold text-white border-2 border-white">Se Connecter</a>
						{% else %}
							<p>Vous n'avez pas de compte ?</p>
							<a href="{{path('user_registre')}}" class="btn fw-bold text-white border-2 border-white">S'incrire</a>
						{% endif %}
					</div>
				</div>
				<div class="col-5 login-wrap p-4 p-lg-5">
					<div class="form"> 
						{% block form %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

